* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #073b4c;
}

h1 {
    color: white;
    font-size: 4rem;
    text-align: center;
}

#container {
    max-width: 1000px;
    width: 80%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #118ab2;
}

.box-red {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.box-green {
    content: "";
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.box-yellow {
    content: "";
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}